@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Oswald:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cardo', serif;
  font-size: 1.2em;
  color: white;
  background-color: #484d5c;     padding: 2em;    
  margin: 0 10%;
  display: flex;
  flex-direction: column;   
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

/* style forms */
form {
  margin: 6vh auto;
  width: 350px;
  box-shadow: 1px 1px 20px #444; 
  border: 1px solid #fff;
  padding: 2rem;
  background-color: #fff;
}
textarea, input { 
  width: 100%; 
  color: #484d5c;
}
input[type="submit"] {
  padding: .6rem;
  border: none;
  background-color: #ffce00;
  color:#484d5c;
  cursor: pointer;
}
input[type="submit"]:hover {
  box-shadow: 5px 5px 20px #484d5c; 
}

label, input[type="submit"] { 
  font-family: 'Oswald', sans-serif; 
  color: #484d5c;
}
/* End of style forms */

a { text-decoration: none; }
a:visited { color: purple; }
a:hover { text-decoration: underline;  }

.page-header {
  flex: none; /* fixed size */
  /* text-align: center; */
}

.page-header  p{ font-style: italic; }

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  max-width: 75%;
}   

h1 { 
  font-size: 2.6em; 
  color: #ffce00;
}

.contact-form { margin-top: 6vh;}
.contact-form h1{
  max-width: 100%;
  text-align: center;
} 

h4  { 
  color: unset;
  max-width: unset;
  font-weight: unset;
}

.main-nav {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.2vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}

i { 
  color: #ffce00; 
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
  justify-content: flex-end;
  color: #ffce00;
}

.main-nav a {
  color: #ffce00;
  margin: 1em;
  padding: 1em;
  transition: all 1s ease-out;
}

.sub-menu li {
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 0;
  align-content: space-between;
}

.sub-menu  li:hover > ul {
  display:inline-block;
}
.main-nav a:hover {
  text-decoration: none;
  background-color: #ffce00;
  color: white;
}

#projects-section {
  justify-content: center;
}

img {
  width: 40%;      
  background-color: #fff;
  display: block;
  opacity: 0.9;
  border: 3px solid #fff;
  transition: all 1s ease-in-out;
}
 /* all 3 bellow are using transition above */
.enlarge:hover {
  border: 10px solid #fff;
  width: 50%;
}
.shrink:hover {
  border: 10px solid #fff;
  width: 30%;
}

.rotate:hover {
  transform: rotate(180deg);
}

   