@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Oswald:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cardo', serif;
  font-size: 1.2em;
  color: white;
  background-color: #484d5c;     padding: 2em;    
  margin: 0 10%;
  display: flex;
  flex-direction: column;   
}

a { text-decoration: none; }

.page-header {
  flex: none; /* fixed size */
  /* text-align: center; */
}

.page-header  p{ font-style: italic; }

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  max-width: 75%;
}   
h1 { 
  font-size: 2.6em; 
  color: #ffce00;
}

h4  { 
  color: unset;
  max-width: unset;
  font-weight: unset;
}

.main-nav {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.2vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}

i { 
  color: #ffce00; 
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 

  justify-content: flex-end;
  color: #ffce00;
}

.main-nav a {
  color: #ffce00;
  margin: 1em;
  padding: 1em;
}
.main-nav a:hover {
  background-color: #ffce00;
  color: white;
}

.sub-menu li {
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 0;
  align-content: space-between;
}

.sub-menu  li:hover > ul {
  display:inline-block;
}

#projects-section {
  justify-content: center;
}

img {
  width: 65%;      
  background-color: #c0ccd4;
  max-width: 500px;
  display: block;
  opacity: 0.9;
  border: 3px solid #c0ccd4;
}


   